flask
flask-sqlalchemy
flask-login
flask-migrate
werkzeug
requests
Authlib
google-generativeai
geopy
astral
openmeteo-requests
pandas
requests-cache
retry-requests
numpy
pillow
python-dotenv
gunicorn
markdown
brevo-python
